<template>
    <div>
        <input type="text" v-model="newTodo" @keyup.enter="addTodo">
        <ul>
            <li v-for="(todo, index) in todos" :class="{complete: todo.done }">
                @{{ todo.text }}
                <button @click="removeTodo(index)">x</button>
                <button @click="toogleDone(todo)">Done</button>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                'todos' : [],
                'loading': false
            }
        },
        mounted() {
            console.log('Component Mounted')
        }
    }
</script>